* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 10px 0;
    height: 90px;
}

main {
    height: calc(100vh - 90px);
}

#logo_mobile {
    width: 50px;
}

#logo_desktop {
    width: 155px;
}

.form{
    position: relative;
}


.form .fa-search{
    position: absolute;
    top:20px;
    left: 10px;
    color: #9ca3af;

}

.form-input{
    height: 55px;
    text-indent: 23px;
    border-radius: 10px;
}

.form-input:focus{
    box-shadow: none;
    border:none;
}

.breadcrumb a {
    color: aliceblue; 
    text-decoration: none;
    font-size: 12px;
    padding: 1px 8px;;
    background-color: #165bba;
    border-radius: 20px;
    
}

.table img {
    width: 30px;
    margin-right: 4px;
}

.done {
    background-color: #198754;
    border-radius: 10px;
    padding: 2px 8px;
    color: white;
    font-size: 0.75em;
}

.process {
    background-color: #ffc107;
    border-radius: 10px;
    padding: 2px 8px;
    color: white;
    font-size: 0.75em;
}

.failed {
    background-color: #dc3545;
    border-radius: 10px;
    padding: 2px 8px;
    color: white;
    font-size: 0.75em;
}

.table .btn {
    max-width: 20px;
    aspect-ratio: 1 / 1;
}

@media screen and (min-width: 992px) {
    .offcanvas {
        max-width: 40vw;
    }

    .col-py-3 {
        max-width: calc(100vw - 150px);
    }
}

@media screen and (max-width: 991px) { 
    .col-py-3 {
        max-width: calc(100vw - 52px);
    }
}

