* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 10px 0;
}

#logo_mobile img {
    width: 50px;
}

.form{
    position: relative;
}

.form .fa-search{
    position: absolute;
    top:20px;
    left: 10px;
    color: #9ca3af;

}

.form-input{
    height: 55px;
    text-indent: 23px;
    border-radius: 10px;
}

.form-input:focus{
    box-shadow: none;
    border:none;
}