* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 10px 0;
    height: 90px;
}

main {
    height: calc(100vh - 90px);
}

#logo_mobile {
    width: 50px;
}

#logo_desktop {
    width: 155px;
}

.form{
    position: relative;
}


.form .fa-search{
    position: absolute;
    top:20px;
    left: 10px;
    color: #9ca3af;

}

.form-input{
    height: 55px;
    text-indent: 23px;
    border-radius: 10px;
}

.form-input:focus{
    box-shadow: none;
    border:none;
}

.breadcrumb a {
    color: aliceblue; 
    text-decoration: none;
    font-size: 12px;
    padding: 1px 8px;;
    background-color: #165bba;
    border-radius: 20px;
    
}


@media all and (min-width: 992px) {
    .offcanvas {
        max-width: 40vw;
    }

    .col-py-3 {
        max-width: calc(100vw - 150px);
    }
}

@media all and (min-width: 768px) {
    
    .col-py-3 {
        max-width: calc(100vw - 150px);
    }
}
